<% if (record.comments.length > 0) { %>
  <div class="comments">
    <% record.comments.forEach(comment => { %>
      <% if (user) { %>

        <div class="comment">

          <%= comment.commenter.name %>: <%= comment.body %>   

          <% if (comment.commenter.equals(user?.profile._id)) { %>

            <div class="comment-buttons">
              <a href="/records/<%= record._id %>/comments/<%= comment._id  %>/edit">
                <i class="fa-solid fa-pen-to-square"></i>
              </a> 
              <form action="/records/<%= record._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST" class="inline">
                <i class="fa-solid fa-trash-can" onclick="this.parentNode.submit()"></i>
              </form>
            </div>

        </div>

          <% } %> 
      <% } else { %>
        <div class="comment">
          <p>anonymous: <%= comment.body %></p>
        </div>
      <% } %>
    <% }) %>
  </div>
<% } %>
