<div class="data-card">
  <% if (record.label) { %>
    <p><strong>Label:</strong><br><%= record.label %></p>
  <% } %>
  <% if (record.genre) { %>
    <p><strong>Genre:</strong><br><%= record.genre %></p>
  <% } %>
  <% if (record.style) { %>
    <p><strong>Style:</strong><br><%= record.style %></p>
  <% } %>
  <% if (record.mood) { %>
    <p><strong>Mood:</strong><br><%= record.mood %></p>
  <% } %>
  <p><strong>Likes:</strong><br><%= record.likes.length %></p>
</div>