<div class="record-card">
  <h2><%= record.title %></h2>
  <p><%= record.artist %></p>
  <h2><%= record.year %></h2>
  <p><%= record.single %></p>
  <p><%= record.likes.length %> Likes</p>

  <% if (user) { %>
    <p>Owner: <%= record.owner.name %></p>
    <%- include('../partials/like-button') %>
  <% } %>

  <% if (record.owner.equals(user?.profile._id)) { %>
    <a href="/records/<%= record._id %>/edit">
      <button class="btn">Edit this record!</button>
    </a>
    <form action="/records/<%= record._id %>?_method=DELETE" class="delete-form"method="POST">
      <button type="submit">Delete this record!</button>
    </form>
  <% } %>
</div>