<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<div>
  <h1><%= profile.name %>'s Record Collection</h1>
  <img src="<%= profile.avatar %>" alt="<%= profile.name %>'s avatar">
</div>

<%- include('../partials/record-cards') %>

<%- include('../partials/footer') %>