<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/partials/record-cards.css"/>
<%- include('../partials/nav') %>

<div>
  <h1><%= profile.name %>'s Record Collection</h1>
  <img src="<%= profile.avatar %>" alt="<%= profile.name %>'s avatar">
  <%- include('../partials/follow-toggle') %>
</div>


<%- include('../partials/record-cards') %>

<%- include('../partials/footer') %>