<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<div>
  <h1><%= profile.name %>'s Record Collection</h1>
  <img src="<%= profile.avatar %>" alt="<%= profile.name %>'s avatar">

  <% let followerIndex = -1 %>
  <% if (profile.followers.some((follower, idx) => {
    if (follower._id.equals(user?.profile._id)) {
      followerIndex = idx
      return true
    }
    return false
  })) { %>
    <form action="/profiles/<%= profile._id %>/follower/<%= profile.followers[followerIndex]._id %>?_method=DELETE" class="delete-form"method="POST">
      <button type="submit">Unfollow</button>
    </form>
  <% } else { %>
    <form action="/profiles/<%= profile._id %>/follower" method="POST">
      <input type="hidden" name="follower">
      <button type="submit">Follow</button>
    </form>
  <% } %>

</div>

<%- include('../partials/record-cards') %>

<%- include('../partials/footer') %>