<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<div>
  <h1>Edit your comment!</h1>
  <form 
    action="/records/<%= record._id %>/comments/<%= comment._id %>?_method=PUT"
    method="POST"
  >
    <textarea
      cols="30"
      rows="5" 
      type="text"
      name="body" 
      autocomplete="off"
    ><%= comment.body %></textarea>
    <button type="submit">Update Comment</button>
  </form>
</div>

<%- include('../partials/footer') %>