<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/partials/record-cards.css"/>
<link rel="stylesheet" href="/stylesheets/partials/comments.css"/>
<script defer type="text/javascript" src="/scripts/record-transition.js"></script>
<%- include('../partials/nav') %>

<div class="records-show-content">
  <%- include('../partials/record-card') %>

  <div class="comment-container">
    <%- include('../partials/comments') %>
    <%- include('../partials/add-comment') %>
  </div>
</div>

<%- include('../partials/footer') %>